[submodule "lib/lang/js/source-code/token-store/InternetOverlays"]
	path = lib/lang/js/source-code/token-store/InternetOverlays
	url = https://github.com/TheProdigyLeague/InternetOverlays
[submodule "lib/eslint/code-path-analysis/ctrl-shft-i"]
	path = lib/eslint/code-path-analysis/ctrl-shft-i
	url = https://github.com/TheProdigyLeague/ctrl-shft-i
[submodule "lib/aab-engine/ViolationFailure"]
	path = lib/aab-engine/ViolationFailure
	url = https://github.com/TheProdigyLeague/ViolationFailure
[submodule "lib/dts/REF_MOD"]
	path = lib/dts/REF_MOD
	url = https://github.com/TheProdigyLeague/REF_MOD
